.header {
  background-color: aquamarine;
  padding: 1rem;
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactPhone {
  display: flex;
  align-items: center;
  gap: 10px;
  i {
    display: block;
    font-size: 2.5rem;
  }
}